In [8]:
li=[1,2,3,4,5]
print(li[0])
print(li[-5])
print(li[4])
print(li[-1])

1
1
5
5

In [9]:
print(li[-1:])
print(li[1:3])
print(li[::2])

[5]
[2, 3]
[1, 3, 5]

In [13]:
print(li[0:4:2])
print("li[start:stop:step]")

[1, 3]
li[start:stop:step]

In [14]:
#CLASS
class basic:
    def print(self):
        print("hi")
b=basic()
b.print()

hi

In [15]:
list1=["py",1,"CRT",4.5]
print(list1)
list1[0]="python"
print(list1)

['py', 1, 'CRT', 4.5]
['python', 1, 'CRT', 4.5]

In [20]:
list2=[1,23,456,7890]
print(list2)
list2.append(12345)
print(list2)
del list2[4]
print(list2)

[1, 23, 456, 7890]
[1, 23, 456, 7890, 12345]
[1, 23, 456, 7890]

In [22]:
#length
print(len(li))
print(len(list1))
print(len(list2))

5
4
4

In [23]:
#list repetition
li*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [25]:
#to find 
print(4 in li)
print(29 in li)

True
False

In [40]:
#printing lists
for i in li:
    print(i,end=" ")
print("\n")
for i in range(len(li)):
    print(li[i],end=" ")

5 4 3 2 1

5 4 3 2 1

In [32]:
#reverse
li.reverse()
print(li)

[5, 4, 3, 2, 1]

In [36]:
a="apple"
li1=list(a)
print(li1)
li1.reverse()
print(li1)

['a', 'p', 'p', 'l', 'e']
['e', 'l', 'p', 'p', 'a']

In [45]:
a=input()
b=list(a)
c=list(a)
c.reverse()
if(b==c):
    print("pallindrome")
else:
    print("not a pallindrome")

wow
pallindrome

In [43]:
print(li)
print(max(li))
print(min(li))
print(sum(li)/len(li))

[5, 4, 3, 2, 1]
5
1
3.0

In [46]:
#append
li.append(6)
print(li)

[5, 4, 3, 2, 1, 6]

In [52]:
#insert
li.insert(2,"python")
print(li)

[5, 4, 'python', 3, 2, 1, 6]

In [53]:
li.count("python")

1

In [54]:
li.index("python")

2

In [65]:
n=int(input())
m=int(input())
co=0
for i in range(1,n):
    if(co==m):
        break
    else:
        i=str(i)
        b=list(i)
        c=list(i)
        c.reverse()
        if(b==c):
            co=co+1
            v=i
print(v)

99
13
44

In [57]:
list3=[1,7,2,8,4]
list3.sort()
list3

[1, 2, 4, 7, 8]

In [58]:
list3.pop()

8

In [60]:
list3.pop(1)

2

In [69]:
li2=[1,2,3,4,4,5,6,7,8]
list3.extend(li2)
list3

[1,
 4,
 7,
 1,
 2,
 3,
 4,
 4,
 5,
 6,
 7,
 8,
 1,
 2,
 3,
 4,
 4,
 5,
 6,
 7,
 8,
 1,
 2,
 3,
 4,
 4,
 5,
 6,
 7,
 8,
 1,
 2,
 3,
 4,
 4,
 5,
 6,
 7,
 8]

In [77]:
li4=[1,2,4,5,3,9]
def maximum(li4):
    li4.sort()
    li4.reverse()
    return(li4[0])
maximum(li4)

9